:root {
  font-size: 62.5%;
  --primary: #ededed;
  --secondary: #242628;
  --secondaryShaddow: #24262899;
  --hightlight: #6a2597;
  --smallSpacer: 0.5rem;
  --normalSpacer: 1rem;
  --bigSpacer: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  cursor: url(./assets/images/cursor_red.cur), auto;
}

.dark {
  color: var(--secondary);
}

.light {
  color: var(--primary);
}

h1,
h2,
h3,
h4 {
  color: var(--primary);
  width: 100%;
  padding: var(--bigSpacer) var(--normalSpacer);
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
  height: 3.5rem;
  position: static;
}

h3 {
  padding: var(--normalSpacer) var(--smallSpacer);
}

a {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
}

nav a {
  display: inline-block;
  padding: 0.5rem 1rem;
  position: relative;
}

nav a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

nav a:hover:after {
  width: 100%;
  left: 0;
}

.App {
  text-align: center;
}

nav {
  background: var(--secondary);
  color: var(--primary);
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: end;
  align-items: center;
  position: fixed;
  z-index: 3;
  padding-right: var(--bigSpacer);
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-width: 40rem;
  list-style: none;
}

ul li a {
  color: var(--primary);
  text-decoration: none;
}

ul li a:active {
  color: orange;
}

#navLogo {
  position: absolute;
  left: 1.5rem;
  top: 0.50rem;
}

#navLogo img {
  background-color: #ccc;
  width: 9rem;
  border-radius: 0.5rem 2rem;
}

.profileBtn {
  background: url("./assets/images/personal.png") center/cover;
  background-color: var(--hightlight);
  width: 4rem;
  height: 4rem;
  border-radius: 3rem;
  box-shadow:
    1px 1px 1px #6a2597,
    -1px 1px 1px #6a2597,
    1px -1px 1px #6a2597,
    -1px -1px 1px #6a2597;
}

.profilDrowdown {
  background-color: var(--secondary);
  width: 20rem;
  height: 9rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  top: 5rem;
  right: 5rem;
  padding: var(--normalSpacer);
  border: solid 1px;
  border-radius: 0.5rem;
  z-index: 2;

  button {
    background: transparent;
    color: var(--primary);
    width: 15rem;
    height: 2.5rem;
    margin-top: 0.75rem;
    padding: 0;
    border-style: none;
  }

  button:hover {
    color: red;
  }

  li {
    width: 15rem;
    margin: 0.1rem;
    padding: 0;
  }
}

.accSettings {
  background-color: var(--secondary);
  width: 30rem;
  height: 35rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: var(--normalSpacer);
  position: absolute;
  top: 5rem;
  right: 19rem;
  z-index: 3;
  border: solid 1px;
  border-radius: 0.5rem;
  z-index: 3;

  .lockContainer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.5rem;
    position: relative;
    top: -0.75rem;
  }

  i {
    color: rgb(89, 255, 94);
    margin: 0;
    padding: 0;
    text-align: right;
    z-index: 1;
  }

  label {
    width: 50%;
    text-align: start;
  }

  div {
    width: 100%;
    height: auto;
  }

  .connectButton {
    width: auto;
    height: 3rem;
    display: flex;
    align-items: center;

    .settingsImgContainer{
      width: 50%;

      img {
        color: #ccc;
        width: 2.5rem;
        margin: auto;
      }
    }
    
  }

  

  label {
    float: left;
    vertical-align: middle;
  }

  input {
    width: 10rem;
    height: 3rem;
    align-items: left;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  input[type="button"] {
    background-color: var(--primary);
    color: var(--secondary);
  }

}

body {
  background-color: var(--primary);
  color: var(--primary);
  font-size: 1.6rem;
}

main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

section {
  width: 90%;
  margin-top: 5rem;
  padding: var(--normalSpacer);
}

article {
  margin-top: var(--bigSpacer);
  padding: var(--normalSpacer);
}

#startPanel {
  background: #000;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.bgIMG {
  width: 30rem;
  position: relative;
  top: 0rem;
  left: -19rem;
  overflow: hidden;
}

.panelContent {
  position: absolute;
  z-index: 2;
}

button,
input {
  margin: var(--smallSpacer);
  padding: var(--smallSpacer) var(--normalSpacer);
  border-radius: var(--smallSpacer);
}

input[type="button"] {
  background-color: var(--hightlight);
  color: var(--primary);
  font-weight: 600;
}

#signIn {
  font-size: 2.5rem;
  padding: var(--normalSpacer) var(--bigSpacer);
  border-radius: var(--bigSpacer);
}

.panel {
  background: var(--secondaryShaddow);
}

.textContainer {
  width: 95%;
  display: flex;
  margin: var(--bigSpacer) 0;
  padding: var(--bigSpacer);
}

.textContainer img {
  width: 24rem;
  height: 16rem;
  margin: 0 var(--normalSpacer);
  border: solid;
}

.cardContainer {
  background-color: var(--secondaryShaddow);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: var(--normalSpacer);
}

.card {
  background-color: var(--secondaryShaddow);
  width: 35rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: var(--bigSpacer) 0;
  padding: var(--normalSpacer);
  gap: 1rem;
  border: solid var(--primary);
  border-radius: var(--normalSpacer);
}

.card img {
  width: 80%;
}

.card ul {
  width: 90%;
  height: 27.5rem;
  list-style: none;
  padding: var(--smallSpacer);
}

p {
  margin: var(--normalSpacer) 0;
}

footer {
  background-color: var(--secondary);
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
  padding: var(--normalSpacer) var(--bigSpacer);
  margin: 0;
}

.content01 {
  width: 40rem;
  display: flex;
  justify-content: space-around;
}

.content01 ul {
  font-size: 2rem;
  list-style: none;
  margin: var(--bigSpacer) var(--smallSpacer);
  line-height: 2.5rem;
}

.spacer {
  width: clamp(0.5rem, 50%, 70rem);
}

.icons {
  width: 20rem;
  align-items: center;
}

.icons a {
  color: var(--primary);
  text-decoration: none;
}

.icons a:hover {
  color: var(--hightlight);
}

i {
  transform: scale(1.5);
  margin: 4rem var(--bigSpacer);
}

// Login and Register

.signArticle {
  color: var(--secondary);
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: solid;
}

.signContainer {
  width: 30rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: var(--normalSpacer);
}

form {
  width: 25rem;
  font-size: 2rem;
  line-height: 3rem;
  padding: var(--normalSpacer);
  border-radius: var(--normalSpacer);
}

form input,
.box {
  margin: var(--smallSpacer) 0 var(--bigSpacer) 0;
}

.alternativeLogin {
  width: 25rem;
  padding: var(--smallSpacer);
}

.boxContainer {
  width: 90%;
}

.box {
  background-color: #fff;
  width: 100%;
  font-weight: 500;
  padding: var(--normalSpacer);
  border: solid 1px;
}

.checkbox {
  width: 75%;
  display: inline-block;
  margin-left: var(--bigSpacer);
  padding-left: var(--smallSpacer)
}

input[type="checkbox"] {
  width: 10%;
  transform: scale(1.5);
}

// privateSides

.pSection {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

aside {
  background-color: var(--secondary);
  height: 100%;
  display: flex;
  font-size: 2rem;
  text-align: start;
  padding: var(--bigSpacer) var(--smallSpacer) var(--bigSpacer) var(--bigSpacer);
  margin: 5rem 0 0 0;
  z-index: 1;

  ul li {
    color: var(--primary);
    min-width: 5rem;
    font-family: 'Arial';
    list-style: none;
    line-height: 2.5rem;
    letter-spacing: normal;
    text-transform: none;
  }

  .active {
    color: red;
  }

  i{
    width: 2rem;
    font-size: 1.5rem;
    margin: 1.3rem;
    padding: 0;
  }
}

.menuChanger{
  width: 0;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
  border-left: 2rem solid var(--secondaryShaddow);
  border-bottom: 1rem solid transparent;
  border-top: 1rem solid transparent;
  z-index: 1;

  i{
    font-size: 1rem;
    position: relative;
    left:-1rem;
  }
}

.menuChanger:hover{
  border-left: 2rem solid #ededed11;
}

.liHeader {
  font-weight: 600;
  line-height: 3.5rem;
  margin-top: var(--bigSpacer);
  text-decoration: dotted underline;
}

.liHeader:hover {
  text-decoration: dotted underline;
}

.liBody {
  margin-left: var(--bigSpacer);
}

.liBody li {
  line-height: 2.7rem;
}

.liBody li:hover,
aside ul li:hover {
  text-decoration: underline var(--primary);
}

.upgardeButton {
  background-color: var(--hightlight);
  width: 70%;
  text-align: center;
  margin: 3rem 1.5rem;
  padding: 0.5rem 1.5rem;
  border: solid;
  border-radius: 1rem;
}

.ugSmall{
  margin: 3rem 0;
  padding: var(--smallSpacer)
}

.pArticle {
  background-color: var(--secondaryShaddow);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--bigSpacer);
  column-gap: var(--bigSpacer);
  margin: 5rem 0 0 0;
  overflow: auto;
}

.smallBox,
.mediumBox,
.bigBox,
.medium {
  background-color: var(--secondaryShaddow);
  padding: 0;
  border: solid 1px var(--secondary);
}

.smallBox {
  width: 15.5rem;
}

.mediumBox {
  width: 32rem;
  max-height: 40rem;
}

.bigBox {
  width: 72rem;
  height: 40rem;
}

.medium {
  width: 46rem;
}


// Dashboard

.dashboardMainContainer {
  width: 99%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: auto;
  gap: 1rem;
}

.activeControlContainer {
  width: 100%;
  max-height: 17rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-bottom: var(--bigSpacer);
  border-bottom: solid;
}

.specialContainer {
  width: 100%;
  max-height: 17rem;
  display: flex;
  flex-wrap: wrap;
  gap: var(--normalSpacer);
  padding-bottom: var(--bigSpacer);
  border-bottom: solid;
}

.dashboardChartFooter {
  font-size: 1rem;
}

.feedOut button {
  background-color: transparent;
  color: var(--primary);
  font-size: 1.6rem;
  font-weight: 600;
  border-style: none;
}

.connectContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  padding-bottom: var(--bigSpacer);
  border-bottom: solid;
}

.viewerContainer {
  min-height: 30rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
  border: solid red;

  canvas {
    color: var(--primary);
    width: 65rem;
    height: 32rem;
    margin: auto;
    border: solid 1px;
  }

  .newsFeedBox {
    width: 40%;
    height: 10rem;
    background-color: var(--secondaryShaddow);

  }
}

.blendOut {
  display: none;
}

// Activity Feed

.activityFeedContainer {
  width: 50rem;
  height: 70rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.feedContainer {
  width: 90%;
  min-height: 5rem;
  margin-top: var(--smallSpacer);
}

.feedReset {

  width: 90%;
  display: flex;
  justify-content: end;
  margin-top: var(--smallSpacer);
}


// Media

.mediaArticle {
  padding: 0;
  overflow: hidden;
}

.mediaSwitch {
  width: 100%;
  height: 25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: var(--smallSpacer);
  gap: var(--normalSpacer);
}

.switchBox {
  background-color: var(--hightlight);
  color: var(--primary);
  min-width: 18rem;
  width: 30%;
  height: 7rem;
  font-size: 3rem;
  border: solid 1px var(--secondaryShaddow);
  border-radius: var(--smallSpacer);
}

.mediaBox {
  width: 100%;
  display: flex;
  justify-content: center;
}

.mediaSettings {
  background-color: red;
  width: 15rem;
  height: 100%;
  margin: 0;
}

.uploadSpace {
  background-color: var(--secondaryShaddow);
  width: 100%;
  height: 15rem;
  border-bottom: solid var(--secondaryShaddow);
  box-shadow: inset 2px 2px 3px 3px var(--secondaryShaddow),
    inset 2px 2px 3px 3px var(--secondaryShaddow),
    inset 2px 2px 6px 6px var(--secondaryShaddow);

  .uploading {
    display: none;
  }
}

.imgUploadSpace {
  width: 100%;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 2px 2px 3px 3px var(--secondaryShaddow),
    inset 2px 2px 3px 3px var(--secondaryShaddow),
    inset 2px 2px 6px 6px var(--secondaryShaddow);

  .imgSpace {
    height: 14rem;
    margin: 0 var(--bigSpacer);
  }
}

.yourMedia {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  background-color: blue;
  gap: 1rem;
  list-style: none;
  padding: var(--smallSpacer);
  overflow: hidden;

  li {
    background-color: #444;
    color: #eee;
    padding: 5px;
    border: solid;
  }
}

input[type="range"] {
  padding: 0;
}

.imagesCon {
  width: 100%;
  height: 50rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: var(--normalSpacer);
  overflow-y: scroll;

  .imgCard {
    background-color: var(--secondaryShaddow);
    width: 13rem;
    height: 13rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: var(--smallSpacer);
    padding: var(--smallSpacer);
    border: solid 0.2rem;
    border-radius: 0.5rem;

    .imgName {
      width: 80%;
      height: 2rem;
      font-size: 1.2rem;
      overflow: hidden;
      border-bottom: solid 1px;
    }

    .deleteBtn {
      background-color: var(--hightlight);
      width: 1.8rem;
      height: 1.8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      top: -0.3rem;
      right: -0.3rem;
      border: solid 0.2rem;
      border-radius: 2rem;
      z-index: 1;
    }

    img {
      width: 75%;
      padding: var(--smallSpacer)
    }

  }
}


// Alerts

.buildContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid;

  .assetsPanel {
    background-color: red;
    width: 100%;
    height: 4rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0 0 var(--normalSpacer) 0;

    .soundSelect,
    .imageSelect,
    .videoSelect,
    .textSelect {
      width: 20%;
      margin: 0 var(--normalSpacer);

      select {
        width: 80%;
        text-align: center;
        padding: var(--smallSpacer);
      }
    }

    .soundSelect {
      background-color: violet;
    }

    .imageSelect {
      background-color: gray;
    }

    .videoSelect {
      background-color: green;
    }

    .textSelect {
      background-color: yellow;
    }
  }

  // canvas {
  //   background-image: paint(squares);
  //   width: 115.2rem;
  //   height: 64.8rem;
  //   border: 2px solid black;
  // }

  .buildCanvas {

    background-image: paint(squares);
    width: 90%;
    height: 100%;
    border: 2px solid black;
  }
}

// Donation & Abo Page

.paypalContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.donationContainer {
  border-right: solid;
}

.donationContainer,
.aboContainer {
  background-color: var(--secondaryShaddow);
  width: 45rem;
  height: 30rem;
  padding: var(--bigSpacer);
  border: solid red;
}

.donationContainer ul,
.aboContainer ul {
  list-style: none;
}

.paypalBg {
  background-color: var(--secondaryShaddow);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.modalBG {
  background-color: var(--secondaryShaddow);
  color: var(--primary);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.3rem;
  width: 50rem;

  position: fixed;
  top: 25rem;
  padding: var(--bigSpacer);
  gap: var(--smallSpacer);
  border: solid;
  z-index: 4;

  .closeBtn {
    background-color: #dcdcdc;
    color: var(--hightlight);
    font-weight: 600;
    position: absolute;
    top: 0.3rem;
    right: 0.7rem;
    box-shadow:
      1px 1px 2px var(--hightlight),
      -1px -1px 2px var(--hightlight),
      1px -1px 2px var(--hightlight),
      -1px 1px 2px var(--hightlight);
    z-index: 1;
  }

  .closeBtn:hover {
    background-color: var(--primary)
  }
}


// Page 404

.errorSection {
  color: var(--secondary);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.errorSection h1,
.errorSection h2,
.errorSection h3 {
  color: var(--secondary);
}

.h1 {
  font-size: 10rem;
  width: 50%;
  padding: 0;
  margin: 0;
}

.h2 {
  width: auto;
  margin: auto 0;
}

hr {
  width: 100%;
}

.h3 {
  font-size: 3rem;
  margin: var(--bigSpacer);
}

.h4 {
  padding: var(--bigSpacer) 0;
}
.errorIMG{
  width: 60%;
}

.errorIMG img{
  margin: var(--bigSpacer),
}

#game{
  background: url("./assets/images/game/desertBG.jpg") center/cover;
  width: 60rem;
  height: 30rem;
  margin: auto;
  border: solid;
  overflow: hidden;
}

#character{
  background: url("./assets/images/game/player.gif")center/cover;
  width: 10rem;
  height: 6rem;
  position: relative;
  top: 25rem;
}

.animate{
  animation: jump 500ms;
}

@keyframes jump{
  0%{top: 25rem;}
  30%{top: 19rem;}
  50%{top: 16rem;}
  60%{top: 20rem;}
  100%{top: 25rem;}
}


#block{
  background: url("./assets/images/game/kaktus01.png") center/cover;
  width: 2.2rem;
  height: 3.5rem;
  position: relative;
  top: 21.5rem;
  left:58rem;
  animation: block 3s infinite linear;
}

@keyframes block{
  0%{left: 58rem;}
  100%{left:-2rem;}
}

// Responsive

@media screen and (max-width: 992px) {
  .bgIMG {
    width: 0;
  }
}